.idea
venv
__pycache__
data
db
forms
static
templates
bass.py
deletenenuzn.py
effects.py
eqalazer.py
fast_or_slow.py
grossbit.py
nonoise.py
obrezka.py
reverb.py
revers.py
TZ_Forsoul_izm_sraspredekeniem.docx
TZ_Forsoul.docx
