.rectangle {
    width: 100%;
    height: 70px;
    border:1px solid;
    margin:auto;
    background: #1d2602;
	   }
.text_center {
    font-size: 45px;
    font-family: Comic Sans MS;
    color: #ffffff;
    text-align: center;
	   }
