<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width,
                   initial-scale=1" />
    <link href=
        "https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity=
        "sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU"
          crossorigin="anonymous"/>
    <link rel="stylesheet" href="static/css/rectangle1.css">
    <link rel="stylesheet" href="static/css/background.css">
    <title>FORSOUL</title>
</head>
<body>
    {% set button_style = "background-color: #1d2602;
            color: #ffffff; width: 15%; height: 70px;
            font-size: 25px; font-family: Comic Sans MS;" %}
    {% set file_style = "background-color: #1d2602;
            color: #ffffff; width: 30%; height: 70px;
            font-size: 25px; font-family: Comic Sans MS;" %}
    <center><div class="rectangle text_center">FORSOUL</div></center>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    {% if current_user.is_authenticated %}
        <form action="{{url_for('upload_file')}}" enctype="multipart/form-data" method="POST">
        <center><input name="snd" type="file" style="{{file_style}}"/></center>
        <br>
        <center><input type="submit" style="{{button_style}}" value="Загрузить файл"/></center>
        </form>
        <br>
        <br>
        <br>
        <center><a href="/logout"><button style="{{button_style}}">{{current_user.login}}
            (Выйти)</button></a></center>
        <br>
        <br>
        <center><a href="/info"><button style="{{button_style}}">Информация о сайте</button></a></center>
    {% else %}
        <center><a href="/register"><button style="{{button_style}}">Зарегистрироваться</button></a></center>
        <br>
        <center><a href="/login"><button style="{{button_style}}">Войти</button></a></center>
    {% endif %}
</body>
</html>