<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="static/css/background.css">
    <link rel="stylesheet" href="static/css/rectangle2.css">
    <title>FORSOUL</title>
</head>
<body>
    {% set button_style = "background-color: #1d2602;
            color: #ffffff; width: 15%; height: 70px;
            font-size: 25px; font-family: Comic Sans MS;" %}
    <center><div class="rectangle text_center">Преобразование аудиофайла прошло успешно!</div></center>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <center><audio controls src="{{path}}"></audio></center>
    <br>
    <center><a href="/download_file"><button style="{{button_style}}">СКАЧАТЬ</button></a></center>
    <br>
    <center><a href="/"><button style="{{button_style}}">Вернуться на главную</button></a></center>
</body>
</html>