{% extends "base.html" %}

{% block content %}
    <link rel="stylesheet" href="static/css/rectangle2.css">
    <body>
        {% set button_style = "background-color: #585858;
                color: #ffffff; width: 25%; height: 70px;
                font-size: 25px; font-family: Comic Sans MS;" %}
        <center><div class="rectangle text_center" style="height: 150px">Ошибка: Эквалайзер и GrossBeat
            принимают файлы только с расширением .wav.</div></center>
        <br>
        <br>
        <br>
        <center><a href="/"><button style="{{button_style}}">Вернуться на главную</button></a></center>
    </body>
{% endblock %}