{% extends "base.html" %}

{% block content %}
    <link rel="stylesheet" href="static/css/rectangle4.css">
    <link rel="stylesheet" href="static/css/form_control.css">
    <body>
        {% set button_style = "background-color: #585858;
                color: #ffffff; width: 25%; height: 70px;
                font-size: 25px; font-family: Comic Sans MS;" %}
        {% if sound %}
        <center><div class="rectangle text_center">GrossBeat</div></center>
        <center><div class="rectangle text_center" style="width: 95%">
                Изменяйте высоту тона, позицию и громкость Вашего аудиофайла</div></center>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <center><div class="rectangle text_center" style="width: 100%;">Текущая запись: {{sound[11:]}}</div></center>
        <br>
        <center><audio controls src="{{sound}}"></audio></center>>
        <br>
        <center><form action="{{ url_for('gross_beat')}}" method="post">
        <center><label for="gs_percent" class="rectangle text_center">Количество битов (число):</label></center>
        <br>
        <center><input type="text" id="gs_percent" name="gs_percent" placeholder="gs_percent"
                       class="form-control" style="width: 25%; height: 60px"></center>
        <br>
        <input type="submit" name="submit_button" style="{{button_style}}" value="Преобразовать файл"></form></center>
        {% else %}
        <h1>Выберите аудиофайл:</h1>
        {% endif %}
        <br>
        <center><a href="/"><button style="{{button_style}}">Вернуться на главную</button></a></center>
    </body>
{% endblock %}