{% extends "base.html" %}

{% block content %}
    <link rel="stylesheet" href="static/css/bordered_images.css">
    <link rel="stylesheet" href="static/css/rectangle3.css">
    <body>
        {% set text_style = "background-color: #585858;
                color: #ffffff; width: 90%; height: 300px; border:1px solid;
                font-size: 25px; font-family: Comic Sans MS;" %}
        {% set button_style = "background-color: #585858;
                color: #ffffff; width: 25%; height: 70px;
                font-size: 25px; font-family: Comic Sans MS;" %}
        <center><div class="rectangle text_center">Как пользоваться FORSOUL</div></center>
        <br>
        <center><p style="{{text_style}}; height: 140px">1. Для начала Вам нужно зарегистрироваться.<br>
            На главной странице нажмите на кнопку "Регистрация".<br>
            Если Вы уже зарегистрированы, нажмите на кнопку "Войти" и переходите сразу к шагу 3.</center>
        <center><img src="/static/img/guide/start_guide.PNG" alt="старт инструкции" class="border"></center>
        <br>
        <center><p style="{{text_style}}; height: 230px">2. Зарегистрируйтесь на сайте.<br>
            Придумайте себе логин, затем придумайте пароль и подтвердите этот пароль.<br>
            Убедитесь, что Ваш пароль не слишком короткий (не менее 8 символов) и не слишком лёгкий <br>
            (в пароле не должны присутствовать комбинации по типу 123, qwerty и т. п., а также слишком <br>
            много одинаковых букв, идущих подряд, например aaa или bbb).<br>
            Если пароль верен, а пользователя с Вашим логином не существует на сайте, нажмите на кнопку
            "Зарегистрироваться".</center>
        <center><img src="/static/img/guide/reg.PNG" alt="регистрация" class="border"></center>
        <br>
        <center><p style="{{text_style}}; height: 140px">3. Теперь Вам нужно войти в свой аккаунт.<br>
            Введите свой логин и пароль, а затем нажмите на кнопку "Войти".<br>
            Если введённые логин и пароль корректны, Вас перенаправят на основную страницу сайта.</center>
        <center><img src="/static/img/guide/start_guide.PNG" alt="старт инструкции" class="border"></center>
        <br>
        <center><p style="{{text_style}}; height: 210px">4. Загрузите файл, с которым Вы хотите работать.<br>
            Для этого нажмите на кнопку "Обзор" (в разных браузерах она может называться по-разному),<br>
            затем выберите аудиофайл с Вашего компьютера и нажмите на кнопку "Загрузить файл".<br>
            Имейте в виду, что на сайте поддерживается работа с файлами следующих расширений: .mp3, .wav, .ogg и .flac.
            После этого Вас перенаправят на страницу выбора операций.</center>
        <center><img src="/static/img/guide/upload_file.PNG" alt="старт инструкции" class="border"></center>
        <br>
        <center><p style="{{text_style}}; height: 265px">5. На странице выбора операции выберите нужную Вам операцию.<br>
            Всего их 10: замедление/ускорение, разворот в обратную сторону, усиление бассов, удаление<br>
            шума, ревербация, эквалайзер, GrossBeat, вырезка ненужного фрагмента, обрезка и наложение эффектов.<br>
            Имейте в виду, что эквалайзер и GrossBeat поддерживают работу только с файлами расширением .wav.
            После выбора операции Вас перенаправят на страницу выполнения выбранной операции.</center>
        <center><img src="/static/img/guide/op_choose.PNG" alt="старт инструкции" class="border"></center>
        <br>
        <center><p style="{{text_style}}">6. Работайте с аудиофайлом на странице выполнения выбранной операции.<br>
            Если операция требует ввода одного или нескольких значений, введите их.<br>
            Следите, чтобы введённые значения были корректными (например: если значение должно быть числом,
            вводите число, <br>
            а если для значения есть диапазон, вводите значение из этого диапазона).<br>
            Некорректное значение приведёт к ошибке, и файл не будет преобразован.<br>
            Как только вы закончили работу, нажмите на кнопку "Преобразовать файл".<br>
            На картинке ниже показан пример работы с замедлением/ускорением файла: </center>
        <center><img src="/static/img/guide/work_example.PNG" alt="старт инструкции" class="border"></center>
        <br>
        <center><p style="{{text_style}}; height: 150px">7. Подождите, пока файл преобразуется.<br>
            Преобразование может занять некоторое время.<br>
            После преобразования Вас перенаправят на страницу с новым аудиофайлом.<br>
            Его можно скачать, нажав на кнопку "Скачать".<br></center>
        <center><img src="/static/img/guide/download.PNG" alt="старт инструкции" class="border"></center>
        <br>
        <center><p style="{{text_style}}; height: 210px">8. После скачивания вы можете вернуться на главную страницу.<br>
            Также после одной сессии работы Ваши аудиофайлы удаляются с сайта.<br>
            Нам не нужно, чтобы они были в открытом доступе. Мы ценим личные данные пользователей.<br>
            Наслаждайтесь работой с музыкой на нашем сайте!<br>
            FORSOUL - Это для души!</center>
        <br>
        <center><a href="/"><button style="{{button_style}}">Вернуться на главную</button></a></center>
    </body>
{% endblock %}