<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width,
                   initial-scale=1" />
    <link href=
        "https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity=
        "sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU"
          crossorigin="anonymous"/>
    <title>FORSOUL</title>
</head>
<body>
    <center><h1>FORSOUL - Это для души!</h1></center>
    <center>Здесь Вы найдёте множество различных операций для работы со звуком -
    от замедления и ускорения до самого настоящего эквалайзера.</center>
    <center>А если что-то не так, или Вам неудобно пользоваться сайтом,</center>
    <center>можно воспользоваться <a href="https://t.me/forsoul_music_bot">ботом</a>.</center>
    <center>Для вас старались:</center>
    <div class="alert alert-success" role="alert">
        <center><h2>Михаил Стрельников (<a href="https://github.com/youngwhist">youngwhist</a>)</h2></center>
    </div>
    <center><img src="/static/img/misha.png" alt="Михаил Стрельников (youngwhist)"></center>
    <div class="alert alert-primary" role="alert">
        <center><h3>Тимлид, работа с музыкой и базами данных</h3></center>
    </div>
    <br>
    <div class="alert alert-success" role="alert">
        <center><h2>Владимир Кузнецов (<a href="https://github.com/Vovan4ikYT">Vovan4ikYT</a>)</h2></center>
    </div>
    <center><img src="/static/img/vovan.jpg" alt="Владимир Кузнецов (Vovan4ikYT)"></center>
    <div class="alert alert-primary" role="alert">
        <center><h3>Основная работа с сайтом, соединение аудиоэффектов и базы данных с сайтом</h3></center>
    </div>
    <br>
    <div class="alert alert-success" role="alert">
        <center><h2>Владислав Горский (<a href="https://github.com/wladgor">wladgor</a>)</h2></center>
    </div>
    <center><img src="/static/img/vlad.jpg" alt="Владислав Горский (wladgor)"></center>
    <div class="alert alert-primary" role="alert">
        <center><h3>Работа с ботом, соединение аудиоэффектов и базы данных с ботом</h3></center>
    </div>
    <center><a href="/"><h1>Вернуться на главную</h1></a></center>
</body>
</html>