<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>FORSOUL</title>
</head>
<body>
    {% if sound %}
    <h1>Удаление шума</h1>
    <audio controls src="{{sound}}"></audio>
    <br>
    <a href="{{sound}}"> Текущая аудиозапись: {{sound[11:]}} </a>
    <form action="{{ url_for('no_noise')}}" method="post">
    <label for="noise_percent">Уровень (от 1 до 20 с шагом 1):</label>
    <input type="text" id="noise_percent" name="noise_percent" placeholder="noise_percent">
    <input type="submit" name="submit_button" value="Преобразовать файл">
    {% else %}
    <h1>Выберите аудиофайл:</h1>
    {% endif %}
    </form>
</body>
</html>