{% extends "base.html" %}

{% block content %}
    <link rel="stylesheet" href="static/css/rectangle2.css">
    <body>
        {% set button_style = "background-color: #585858;
                color: #ffffff; width: 35%; height: 70px;
                font-size: 25px; font-family: Comic Sans MS; border: 1px solid #ffffff;" %}
        <center><div class="rectangle text_center" style="height: 210px">Выберите операцию.<br>Важно:
            эквалайзер и GrossBeat принимают только файлы с расширением .wav</div></center>
        <br>
        <center><audio controls src="{{sound}}"></audio></center>
        <br>
        <center><a href="/fast_slow"><button class='btn btn-default' style="{{button_style}}">
            Замедление/Ускорение</button></a></center>
        <br>
        <center><a href="/reverse"><button class='btn btn-default' style="{{button_style}}">Разворот в
            обратную сторону</button></a></center>
        <br>
        <center><a href="/bast_boost"><button class='btn btn-default' style="{{button_style}}">Усиление
            басов</button></a></center>
        <br>
        <center><a href="/no_noise"><button class='btn btn-default' style="{{button_style}}">Удаление
            шума</button></a></center>
        <br>
        <center><a href="/reverb"><button class='btn btn-default' style="{{button_style}}">Ревербация</button></a></center>
        <br>
        <center><a href="/equalizer"><button class='btn btn-default' style="{{button_style}}">
            Эквалайзер</button></a></center>
        <br>
        <center><a href="/gross_beat"><button class='btn btn-default' style="{{button_style}}">
            GrossBeat</button></a></center>
        <br>
        <center><a href="/slicer"><button class='btn btn-default' style="{{button_style}}">Вырезка
            ненужного фрагмента</button></a></center>
        <br>
        <center><a href="/cutter"><button class='btn btn-default' style="{{button_style}}">Обрезка</button></a></center>
        <br>
        <center><a href="/effects"><button class='btn btn-default' style="{{button_style}}">Наложение
            эффектов</button></a></center>
        <br>
        <center><a href="/"><button class='btn btn-default' style="{{button_style}}">Вернуться
            на главную</button></a></center>
    </body>
{% endblock %}