<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>FORSOUL</title>
</head>
<body>
    <h1>ВЫБЕРИТЕ ОПЕРАЦИЮ</h1>
    <h1>Важно: эквалайзер и GrossBeat принимают только файлы с расширением .wav</h1>
    <audio controls src="{{sound}}"></audio>
    <br>
    <a href="{{sound}}"> Текущая аудиозапись: {{sound[11:]}} </a>
    <br>
    <a href="/fast_slow"><button class='btn btn-default'>Замедление/Ускорение</button></a>
    <br>
    <a href="/reverse"><button class='btn btn-default'>Разворот в обратную сторону</button></a>
    <br>
    <a href="/bast_boost"><button class='btn btn-default'>Усиление басов</button></a>
    <br>
    <a href="/no_noise"><button class='btn btn-default'>Удаление шума</button></a>
    <br>
    <a href="/reverb"><button class='btn btn-default'>Ревербация</button></a>
    <br>
    <a href="/equalize_1"><button class='btn btn-default'>Эквалайзер</button></a>
    <br>
    <a href="/gross_beat"><button class='btn btn-default'>GrossBeat</button></a>
    <br>
    <a href="/slicer"><button class='btn btn-default'>Вырезка ненужного фрагмента</button></a>
    <br>
    <a href="/cutter"><button class='btn btn-default'>Обрезка</button></a>
    <br>
    <a href="/"><h3>Вернуться на главную</h3></a>
</body>
</html>