<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>FORSOUL</title>
</head>
<body>
    {% if sound %}
    <h1>Разворот в обратную сторону</h1>
    <audio controls src="{{sound}}"></audio>
    <br>
    <a href="{{sound}}"> Текущая аудиозапись: {{sound[11:]}} </a>
    <form action="{{ url_for('reverse')}}" method="post">
    <input type="submit" name="submit_button" value="Преобразовать файл">
    {% else %}
    <h1>Выберите аудиофайл:</h1>
    {% endif %}
    </form>
</body>
</html>