<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>FORSOUL</title>
</head>
<body>
  {% if sound %}
    <h1>Ревербация</h1>
    <audio controls src="{{sound}}"></audio>
    <br>
    <a href="{{sound}}"> Текущая аудиозапись: {{sound[11:]}} </a>
    <form action="{{ url_for('reverb')}}" method="post">
    <label for="volume">Громкость (от 0.1 до 1 с шагом 0.1):</label>
    <input type="text" id="volume" name="volume" placeholder="volume">
    <br>
    <label for="mix">Уровень (от 0.1 до 1 с шагом 0.1):</label>
    <input type="text" id="mix" name="mix" placeholder="mix">
    <br>
    <input type="submit" name="submit_button" value="Преобразовать файл">
    {% else %}
    <h1>Выберите аудиофайл:</h1>
    {% endif %}
    </form>
</body>
</html>