{% extends "base.html" %}

{% block content %}
    <link rel="stylesheet" href="static/css/rectangle4.css">
    <link rel="stylesheet" href="static/css/form_control.css">
    <body>
      {% set button_style = "background-color: #585858;
                color: #ffffff; width: 25%; height: 70px;
                font-size: 25px; font-family: Comic Sans MS;" %}
      {% if sound %}
        <center><div class="rectangle text_center">Ревербация</div></center>
        <center><div class="rectangle text_center" style="width: 85%">Накладывайте на Ваш аудиофайл эффект ревербации (эха)</div></center>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <center><div class="rectangle text_center" style="width: 100%;">Текущая запись: {{sound[11:]}}</div></center>
        <br>
        <center><audio controls src="{{sound}}"></audio></center>>
        <br>
        <center><form action="{{ url_for('reverb')}}" method="post">
        <label for="volume" class="rectangle text_center">Громкость (от 0.1 до 1 с шагом 0.1):</label>
        <input type="text" id="volume" name="volume" placeholder="volume"
               class="form-control" style="width: 25%; height: 60px">
        <br>
        <br>
        <label for="mix" class="rectangle text_center">Уровень (от 0.1 до 1 с шагом 0.1):</label>
        <input type="text" id="mix" name="mix" placeholder="mix" class="form-control" style="width: 25%; height: 60px">
        <br>
        <br>
        <br>
        <input type="submit" name="submit_button" style="{{button_style}}" value="Преобразовать файл"></form></center>
        {% else %}
        <h1>Выберите аудиофайл:</h1>
        {% endif %}
        <br>
        <center><a href="/"><button style="{{button_style}}">Вернуться на главную</button></a></center>
    </body>
{% endblock %}