{% extends "base.html" %}

{% block content %}
    <link rel="stylesheet" href="static/css/rectangle3.css">
    <link rel="stylesheet" href="static/css/form_control.css">
    <title>FORSOUL</title>
    <body>
        {% set button_style = "background-color: #585858;
                color: #ffffff; width: 25%; height: 70px;
                font-size: 25px; font-family: Comic Sans MS;" %}
        {% if sound %}
        <center><div class="rectangle text_center">Вырезка ненужного фрагмента</div></center>
        <center><div class="rectangle text_center" style="width: 85%">Вырезайте ненужные фрагменты Вашего аудиофайла</div></center>
        <center><div class="rectangle text_center" style="width: 85%">Получайте на выходе аудиофайл без этих фрагментов</div></center>
        <center><div class="rectangle text_center" style="width: 95%">
                В одной секунде 1000 миллисекунд, старт аудио начинается с 0 секунд</div></center>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <center><div class="rectangle text_center" style="width: 100%;">Текущая запись: {{sound[11:]}}</div></center>
        <br>
        <center><audio controls src="{{sound}}"></audio></center>
        <br>
        <center><form action="{{ url_for('slicer')}}" method="post">
        <label for="start_1" class="rectangle text_center">Начальное время 1 (кол-во миллисекунд):</label>
        <input type="text" id="start_1" name="start_1" placeholder="start_1"
               class="form-control" style="width: 25%; height: 60px">
        <br>
        <br>
        <label for="end_1" class="rectangle text_center">Конечное время 1 (кол-во миллисекунд):</label>
        <input type="text" id="end_1" name="end_1" placeholder="end_1"
               class="form-control" style="width: 25%; height: 60px">
        <br>
        <br>
        <label for="start_2" class="rectangle text_center">Начальное время 2 (кол-во миллисекунд):</label>
        <input type="text" id="start_2" name="start_2" placeholder="start_2"
               class="form-control" style="width: 25%; height: 60px">
        <br>
        <br>
        <label for="end_2" class="rectangle text_center">Конечное время 2 (кол-во миллисекунд):</label>
        <input type="text" id="end_2" name="end_2" placeholder="end_2"
               class="form-control" style="width: 25%; height: 60px">
        <br>
        <br>
        <input type="submit" name="submit_button" style="{{button_style}}" value="Преобразовать файл"></form></center>
        {% else %}
        <h1>Выберите аудиофайл:</h1>
        {% endif %}
        <br>
        <center><a href="/"><button style="{{button_style}}">Вернуться на главную</button></a></center>
    </body>
{% endblock %}