<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>FORSOUL</title>
</head>
<body>
    {% if sound %}
    <h1>Вырезка ненужного фрагмента</h1>
    <audio controls src="{{sound}}"></audio>
    <br>
    <a href="{{sound}}"> Текущая аудиозапись: {{sound[11:]}} </a>
    <form action="{{ url_for('slicer')}}" method="post">
    <h2>В одной секунде 1000 миллисекунд</h2>
    <label for="start_1">Начальное время 1 (кол-во миллисекунд):</label>
    <input type="text" id="start_1" name="start_1" placeholder="start_1">
    <br>
    <label for="end_1">Конечное время 1 (кол-во миллисекунд):</label>
    <input type="text" id="end_1" name="end_1" placeholder="end_1">
    <br>
    <label for="start_2">Начальное время 2 (кол-во миллисекунд):</label>
    <input type="text" id="start_2" name="start_2" placeholder="start_2">
    <br>
    <label for="end_2">Конечнное время 2 (кол-во миллисекунд):</label>
    <input type="text" id="end_2" name="end_2" placeholder="end_2">
    <input type="submit" name="submit_button" value="Преобразовать файл">
    {% else %}
    <h1>Выберите аудиофайл:</h1>
    {% endif %}
    </form>
</body>
</html>